<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <jaxws:endpoint
            implementor="LdapWorkerWS.Service"
            address="/HelloWorld"/>


    <bean id="connector" class="ru.crocket.ws.ldapworker.ADSLdapConnection">
        <constructor-arg name="servername" value="localhost"/>
        <constructor-arg name="port" value="10389"/>
        <constructor-arg name="user" value=""/>
        <constructor-arg name="password" value=""/>
    </bean>

    <bean id="ldapuser" class="ru.crocket.ws.ldapworker.LdapUser">
        <constructor-arg name="login" value="testUser1"/>
        <constructor-arg name="name" value="Tester"/>
        <constructor-arg name="givenName" value="testr's GivenName"/>
        <constructor-arg name="fullName" value="tester's FullName"/>
    </bean>


    <!--<bean id="service" class="LdapWorkerWS.Service" >-->
        <!--<property name="adsLdapConnection" ref="connector"/>-->
    <!--</bean>-->

</beans>
