<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <jaxws:endpoint
            implementor="LdapWorkerWS.Service"
            address="/HelloWorld"/>


    <bean id="connector" class="ru.crocket.ws.ldapworker.ADSLdapConnection">
        <property name="serveradress" value="localhost"/>
        <property name="port" value="389"/>
        <property name="user" value=""/>
        <property name="password" value=""/>
    </bean>

    <bean id="ldapconnector" class="ru.crocket.ws.ldapworker.ADSLdapConnection" factory-method="getInstance"/>

</beans>
